.app {
  min-height: 100vh;
}

.main {
  width: min(1200px, calc(100% - 48px));
  margin: 0 auto;
  padding: 42px 0 80px;
}

@media (max-width: 600px) {
  .main {
    width: min(100% - 32px, 1200px);
    padding-top: 28px;
  }
}
